<br>
<%= image_tag "freyda.jpg", class: "middle" %>
<br><br>
<p>
  ЗИГМУНД ФРЕЙД (1856-1939), австрийский невропатолог, психиатр и психолог, великий новатор, основоположник
  психоанализа. Ранние его работы посвящены локализации мозговых функций, проблемам физиологии и анатомии головного
  мозга. Он занимался проблемой детского паралича, в 1884 году первым открыл болеутоляющее действие кокаина. С 1895 года
  разрабатывал методы лечения неврозов, в частности истерии. Одним из первых начал изучение психологических аспектов
  развития сексуальности. В 1900 году выдвинул гипотезу о строении психического аппарата как энергетической системы, в
  основе динамики которой лежит конфликт между различными уровнями психики, прежде всего между сознанием и
  бессознательным влечением. В нашем толкователе вы найдете сонник Фрейда для толкования снов и интерпретации сновидений
  от великого психотерапевта. Фрейд говорил о себе, что он принадлежит к тому сорту людей, которые, по выражению
  Хеббеля, нарушили покой мира. Его работы в корне изменили облик психологии XX века, осветив коренные вопросы
  устройства личности. Они раскрыли природу конфликтов между страстями и чувством долга, выявили причины душевного
  дискомфорта и иллюзорность представлений человека о самом себе. Много и углубленно Фрейд размышлял о сновидениях. В
  книге Толкование сновидений, увидевшей свет в 1900 году, он тщательно анализирует порождающие их механизмы и роль,
  которую они играют в жизни человека. Основной тезис ученого понятен: сновидение является продуктом нашей психической
  активности, выражением нереализованных и подчас безотчетных потребностей, которые мы можем удовлетворить во сне
  благодаря усилиям собственного воображения и таким образом обрести душевное равновесие. Однако, по Фрейду, подлинные
  душевные переживания спящего, или содержание сна, выражаются лишь в символических и на первый взгляд абсурдных образах
  - так называемой продукции сна, которая есть не что иное, как уловка подсознания, стремящегося обмануть внутреннего
  цензора - разум и дать выход страстям, которые находятся под запретом. Таким образом, символы сновидений - это код
  потаенных желаний человека. Чем более значимо для человека то или иное переживание, тем более фантастический характер
  оно приобретает во сне. Раскрыть же тайный смысл сновидения, считал Фрейд, можно лишь с помощью психоанализа. Фрейд
  выделяет три типа сновидений. Во-первых, сновидения вполне осмысленные, понятные, то есть не вызывающие никаких
  затруднений при их истолковании. Во вторых, сновидения в определенной степени логичные, но странные: их смысл трудно
  связать с происходящим наяву. И наконец, сновидения бессвязные и спутанные, понять которые вообще невозможно.
  Последние требуют к себе особенного внимания, поскольку при правильном истолковании могут стать для сновидца
  источником очень важной информации о его жизни и о нем самом. Опубликованные на сегодняшний день сонники Фрейда
  представляют собой перечень повторяющихся символов из мира сновидений, которые описывает и интерпретирует в своих
  работах сам Фрейд. Задача таких сонников - ознакомить читателя с практической стороной учения австрийского психиатра.
  Примеры толкования снов по Фрейду представлены в нашем сборнике 55 сонников хотя, конечно, не в полном объеме.
</p>
<p>
  Для объяснения и трактовки сновидений могут быть использованы различные популярные сонники. К самым распространенным
  из них можно отнести сонник Миллера, претерпевший десятки изданий и содержащий наиболее полное толкование сновидений.
  Без сомнений, сонник Миллера до сих пор остается «классикой жанра» и является наиболее авторитетным. По мнению
  Миллера, набор предметов и символов, которые мы видим во сне, не случаен. Он представляет собой зашифрованный код,
  разгадав который, можно предугадать некоторые события, которые ждут спящего в будущем. Проанализировав и
  систематизировав индивидуальные сочетания предметов, явлений и событий, увиденных во сне разными людьми, Миллер
  составил единую схему толкования снов, которая позволяет заглянуть в будущее и объяснить многие вещи, происходящие в
  реальности. Сонник Миллера не только дает возможность расшифровать значение каждого конкретного сна, но и разобраться
  в сути сновидений вообще. Используя толкования снов, предложенные известным психологом, вы сможете найти ответы на
  многие вопросы и научиться принимать правильные решения в разных жизненных ситуациях. Сегодня классический сонник
  Миллера несколько устарел, так как в нем нет современных понятий и явлений, время от времени всплывающих в наших снах,
  однако большая часть толкований по-прежнему остается актуальной для широкого круга пользователей. Долгий срок
  существования сонника Миллера не подорвал его безупречной репутации. И в настоящее время лавры знаменитейшого,
  исчерпывающего, авторитетного и достоверного сборника толкований принадлежит именно ему. Симпатию почти всех поколений
  сонник Миллера толкование снов завоевал к тому же тем, что он, как будто добрый и мудрый советчик, пытается объяснить
  человеку суть ситуации, вовремя отвести от него беду, подсказать верное решение.
</p>
<br>
<%= image_tag "nost.jpg", class: "middle" %>
<br><br>
<p>
  НОСТРАДАМУС (Мишель де Нотрдам)(1503-1566), врач, алхимик, астролог и прорицатель. Главным трудом Нострадамуса
  считается его книга пророчеств - Les propheties, - в которой судьбы народов и государств предсказаны на много лет
  вперед и изложены в стихах, полных загадок и иносказаний. В Письме к сыну Сезару - прозаическом тексте, который
  послужил предисловием к Пророчествам, - Нострадамус пишет, что его предсказания охватывают период с 1555 по 3797 год.
  С другой стороны, Нострадамус разделял существующее в иудаизме представление о том, что срок, отпущенный земной
  цивилизации, составляет шесть тысяч лет - в соответствии с шестью днями творения. В Письме Сезару предсказатель
  связывает Второе Пришествие с наступлением эры Сатурна, то есть с началом второй Великой Субботы, или началом седьмого
  тысячелетия от Сотворения Мира. Если учесть, что в иудейской традиции датой сотворения мира считается 1761 год до Р.
  X., то получается, что срок, на который распространяются пророчества Нострадамуса, должен быть ограничен 2240 годом. В
  нашем толкователе вы найдете сонник Нострадамуса для толкования снов и интерпретации сновидений от великого
  ясновидящего.Полное издание Пророчеств, вышедшее уже после смерти автора, включает в себя 942 четверостишия, которые
  объединены в центурии (столетия) - своеобразные пророческие циклы, составляющие основное наследие Нострадамуса как
  прорицателя. В каждой из десяти центурий Нострадамуса, за исключением седьмой, которая осталась незавершенной, - сто
  четверостиший (катренов), и в каждом из них содержится определенное предсказание. Задавая банальнейший из вопросов:
  Что сбылось, а что - нет? - можно получить разные ответы. Возможно, то, что не сбылось, было просто неверно
  истолковано? В центуриях есть пророчества, сформулированные вполне определенно и прямо, но в большинстве случаев
  Нострадамус старался зашифровать в тексте нужный ему смысл, чтобы сделать его непонятным для непосвященных. Сегодня
  можно утверждать, что Нострадамус в точности предсказал множество знаменательных исторических событий: гибель Генриха
  II на рыцарском турнире; восшествие на французский престол Генриха IV, казнь Марии Стюарт и Людовика XVI, кровавый
  террор французской революции. Он предсказал появление марксизма и нового типа общества (Коммуна грядет). Непостижимым
  образом выведены у Нострадамуса Наполеон и Гитлер: Napoloronи Hister.Он также предвидел две мировые войны, военные
  действия в воздухе и под водой, холокост, убийство братьев Кеннеди, создание атомной бомбы, полеты в космос и многое
  другое. Кроме того, автор Пророчеств скончался точно в предсказанный им день. Однажды Нострадамус был представлен
  молодому монаху францисканцу, перед которым опустился на колени. Окружающим он объяснил случившееся просто: Я сделал
  это потому, что должен был преклонить колени перед Его Святейшеством. Позднее этот монах стал Папой Римским Сикстом V.
  В пророчествах Нострадамуса мы видим словно бы календарь судеб, своеобразную машину времени. Он был визионером,
  воспринимающим целые видеоряды информации, глобальные исторические процессы, затрагивающие не один век. Его феномен до
  сих пор остается непостижимым. Мишель Нотр Дам (Нострадамус - латинизированный вариант его имени) родился в маленьком
  французском городке Сен Реми в семье евреев, принявших христианство. Его отец был нотариусом, а дед и прадед по
  отцовской линии занимались торговлей. В 1518 году Мишель отправился на учебу в Авиньон, где изучал философию. В 1521
  году он получил звание магистра искусств, а затем продолжил свое образование в Монпелье. Там в 1534 году Нострадамусу
  была присвоена степень доктора медицины, после чего он приступил к официальной врачебной практике. В 1536 году
  Нострадамус поселился в Ажене, где обзавелся семьей. Там же он познакомился с ученым Жюлем Скалигером, который стал
  его другом и учителем. Период относительного благополучия в жизни Нострадамуса оказался недолгим - через два года
  после переезда в Ажен его жена и дети умирают от неизвестной болезни. Вслед за этим последовала смертельная ссора со
  Скалигером, и Нострадамус решил покинуть город. Период его странствий продолжается девять лет. Об этих годах известно
  мало. Нострадамуса в это время видели в разных местах: Венеции, Бордо, Турине, Эльзасе, Лионе. В 1546 году он
  объявился на юге Франции, в Эксан Провансе, где в то время свирепствовала чума, и принял участие в борьбе с эпидемией.
  За свои героические усилия на этом поприще он получил от местных властей пожизненную пенсию. Существует легенда о том,
  что Нострадамус был гениальным врачом и якобы излечивал от чумы целые города, но это не так: он был типичным врачом
  своего времени и боролся с чумой, применяя таблетки из лепестков роз, опилок зеленого кипариса и ароматического
  тростника. В 1547 году, когда эпидемия отступила, Нострадамус поселился в Салон де Провансе, где жил вплоть до своей
  смерти. В этом же году он снова женился - на вдове Анне Понсар Жемелло. От этого брака родилось шесть детей. Начало
  карьеры Нострадамуса как астролога и прорицателя приходится на 1551 год. Тогда он начал выпуск своих альманахов,
  которые содержали различные предсказания, основанные на астрологических расчетах. Подписывает он их псевдонимом, под
  которым впоследствии вошел в историю, - Nostradamus. Эти альманахи пользовались необычайной популярностью. Написаны
  они были живо, интересно, оригинально. Читатели находили там множество прогнозов - бытовых, сельскохозяйственных,
  политических, и большинство из них сбывалось. Год от года книги становились все объемнее, возрастала и известность
  предсказателя. Летом 1955 года Нострадамус посетил Париж и удостоился аудиенции у Генриха II и Екатерины Медичи. По
  всей видимости, предсказатель произвел благоприятное впечатление на августейших особ: впоследствии он вел с королевой
  Франции переписку. В 1564 году королева со своим сыном Карлом IX посетила Салон де Прованс и пригласила Нострадамуса
  на встречу в Арль, где он был назначен лейб медиком. Однако к этому времени Нострадамус был серьезно болен - подагра
  мучила его все сильнее. От подагры, как полагают, он и ушел в мир иной - в тот самый день, который был ему известен
  заранее, - 2 июля 1566 года. На каменной плите над его могилой написано: Здесь покоится прах знаменитого Мишеля
  Нострадамуса, единственного из всех смертных, кто благодаря влиянию звезд оказался достоин запечатлеть своим почти
  божественным пером будущие события всего мира.
</p>
<br>
<%= image_tag "sovr.jpg", class: "middle" %>
<br><br>
<p>
  КАРЛ ГУСТАВ ЮНГ (1875-1961), швейцарский психолог и психиатр, основатель одного из направлений глубинной психологии -
  аналитической психологии. С 1900 по 1906 год работал в психиатрической клинике в Цюрихе, был ассистентом психиатра
  Эйгена Блейера, разработал метод свободных ассоциаций, ставший одним из основных в психиатрии. В 1907-1912 годах -
  один из ближайших сотрудников Фрейда, с 1911 по 1914 год - первый председатель Международного психоаналитического
  общества. Однако в дальнейшем пересмотр Юнгом основных положений психоанализа (трактовка либидо как психической
  энергии вообще, отрицание сексуальной этиологии неврозов, понимание психики как замкнутой автономной системы,
  функционирующей по принципу компенсации и др.) привел к полному разрыву с Фрейдом. В своей выдающейся работе
  Метаморфозы и символы либидо (1912) Юнг постулировал существование в психике человека помимо индивидуального
  бессознательного более глубокого слоя - коллективного бессознательного, которое, по его мнению, есть отражение опыта
  прежних поколений, запечатленное в структурах мозга. Содержание его составляют общечеловеческие образы архетипы,
  динамика которых лежит в основе мифов, символики художественного творчества, сновидений. Архетипы недоступны обычному
  восприятию и осознаются через их внешнюю проекцию на объекты. Центральная роль отводится Юнгом архетипу самости как
  потенциальному центру личности - в отличие от Эго как центра сознания. Он считал, что необходимые связи между
  различными уровнями психики в традиционной культуре поддерживались благодаря обрядам, ритуалам, погружению в
  мифологическое пространство. В современной же культуре средством активизации архетипов являются сны. Юнг писал: …Самая
  сложная и неведомая часть разума, производящая символы, до сих пор не исследована. Это может показаться почти
  невероятным, ведь мы получаем сигналы из бессознательного почти каждую ночь, но расшифровка этих посланий
  представляется слишком утомительным занятием почти для всех, исключая немногих людей, которых это беспокоит.
  Величайший инструмент человека - его психика - привлекает мало внимания, зачастую ей просто не доверяют и презирают
  ее.&lt;…&gt; Я потратил более полувека на изучение натуральной символики и пришел к выводу, что сновидения и их
  символика не являются бессмысленными и бестолковыми. Наоборот, сны дают наиболее интересную информацию как раз тем,
  кто затрудняется понять их символы. Юнг считал, что в жизни человека сны играют весьма значительную роль: во первых,
  обеспечивают эмоциональный баланс, позволяя, например, сдержанным людям переживать сильные чувства, и, во вторых,
  способствуют развитию психических функций. Юнг также различал объективные и субъективные сновидения: первые воссоздают
  картину повседневной жизни человека, его взаимоотношений с внешним миром, вторые являются отражением чувств и мыслей
  сновидца - его внутренней духовной жизни. В то же время, по мнению Юнга, наш личный жизненный опыт нельзя считать
  единственным источником всех образов и символов, которыми наполнены наши сны. Нередко оказывается, что тот или иной
  образ, незнакомый и совершенно чуждый спящему, относится к одной из существующих в мировой культуре мифологических
  систем. Подобные образы составляют содержание коллективной памяти, пробуждающейся во время сна. Знание их
  специфического значения, которым они обладали в породившей их культуре, позволяет дать сновидению верное толкование.
  Вернуться в раздел:сонник толкование снов.
</p>
<br>
<%= image_tag "vangi.jpg", class: "middle" %>
<br><br>
<p>
  Ванга (Вангелия Пандева Гуштерова) (1911-1996), болгарская ясновидящая и целительница. В нашем онлайн толкователе вы
  найдете сонник Ванги для толкования снов и бесплатные интерпретации сновидений от великой предсказательницы. Ее имя
  широко известно не только в Болгарии и России, но и во всем мире. Феномен Ванги так и не был изучен, хотя
  исследованием ее способностей занимались известные ученые, например академик Наталья Бехтерева, крупнейший специалист
  в области нейрофизиологии. Родилась и жила Ванга в Болгарии, в селе Петрич, именно туда приезжали к ней люди со всего
  света. Предсказания, сделанные Вангой, всегда исполнялись и продолжают исполняться в точности, а поэтому соннику Ванги
  можно смело доверять. Прежде чем перейти на сонник Ванги, узнайте больше о ней самой. Испытаний на долю ясновидящей
  выпало великое множество. Когда Ванге было четыре года, умерла ее мать. Вскоре началась Первая мировая война, и отца
  Ванги мобилизовали в болгарскую армию. Она росла под присмотром соседки. Вернувшись с войны, отец женился снова. К
  этому времени у Ванги уже начинают открываться ее необыкновенные способности. Она придумывает себе странные игры:
  например, спрятав какой нибудь предмет, с завязанными глазами пытается его отыскать. Ванга регулярно вступала в
  контакт с умершими людьми. Она говорила, что является для них вратами в этот мир и что, когда к ней приходит кто
  нибудь из посетителей, умершие родственники этого человека окружают ее, разговаривают с ней, а она лишь передает то,
  что услышала. Она встречалась со многими магами и экстрасенсами, в том числе с Чумаком, Грабовым, Кашпировским,
  Глобой. Многие приезжали к ней с огромным самомнением и амбициями, а уходили пристыженные и обескураженные. Как то к
  ней приехала Лариса Шепитько, кинорежиссер. В 1979 году она трагически погибла в автокатастрофе. Ей Ванга сказала:
  Молодая, жаль тебя, скоро умрешь! Посетители всегда должны были приходить к Ванге с кусочком сахара рафинада:
  кристаллическая решетка сахара сохраняет информацию о человеке. Кроме сахара можно было оставлять ей незатейливые
  подарки, например плюшевые игрушки, которые Ванга любила гладить, трогать, вспоминая тех, кто их дарил. Ванге были
  ведомы судьбы людей, еще не родившихся, и тех, кто умер более 100 и 300 лет назад. Это, как считают ученые, самое
  необычайное проявление ее ясновидения. Говорила она и о будущем, хотя делала это неохотно. Например, Ванга предсказала
  покушение на Джона Кеннеди, распад СССР, гибель принцессы Дианы. Однажды она произнесла: Курск окажется под водой, и
  весь мир будет его оплакивать… Смысл этой фразы, поначалу вызвавшей недоумение, стал ясен в августе 2000 года, когда
  затонула атомная подлодка Курск. 3 августа 1996 года Ванга была помещена в реанимационное отделение правительственной
  больницы в Софии. У нее был рак груди. Тысячи людей стояли денно и нощно у больницы. Ванга предвидела свою смерть, она
  умерла в тот день и тот час, который сама себе предсказала, - 11 августа 1996 года в 10 часов 10 минут. Сонник Ванги
  поможет вам не только узнать собственное будущие, но и получить дополнительную информацию о своем внутреннем мире.
</p>
<p>
  Многие тысячелетия назад возникла весьма интересная и своеобразная наука – нумерология. Трудно сказать, когда точно
  она родилась, поскольку даже в глубокой древности люди выявили магическую связь между алфавитом и числами и стали
  применять ее на практике, высчитывая числа имен и строя на этой основе прогнозы и предсказания… Так поступали, к
  примеру, арабы и евреи. Но особое развитие нумерология как наука получила у древних греков – под руководством
  знаменитого мистика и математика Пифагора она приобрела вполне законченный вид и четкую форму. В настоящее время
  нумерологи пользуются системой Пифагора, незначительно усовершенствовав и осовременив ее, поскольку простота,
  провозглашенная великим греком, действительно в этом случае – признак гениальности. Что же такое нумерология Пифагора
  и почему я особо останавливаюсь на этом? Это важный аспект, нужно хорошо уяснить его, чтобы понять взаимосвязь
  нумерологии и этого сонника. Дело в том, что Пифагор сущностью всего материального в мире полагал число, для него
  Вселенная представляла собой единую гармоничную систему чисел и их отношений. Ученики Пифагора развили его концепцию,
  и в результате на сегодняшний день мы имеем науку о числах, их значении и влиянии на человеческую жизнь. Однако не
  многие из нас способны наяву воспринять советы и предостережения, исходящие от чисел, в результате всю эту информацию
  накапливает наше подсознание и выталкивает ее на поверхность во время сна. Отсюда и сновидения, полные чисел,
  троллейбусных номеров, адресов и алгебраических примеров. Все это не случайных груз ненужных сведений, – это
  символическое обращение к вам вашего подсознания; если вы воспримете его и сумеете истолковать, то избежите множества
  ошибок и не попадете в ловушки и капканы. Именно для того, чтобы вы могли понять значение своего нумерологического
  сна, и создан этот сонник. Выстроен он по следующей схеме: обратите внимание на то, какое именно число превалирует в
  вашем сне и раскройте соответствующий раздел книги. Обратите внимание, однако, на тот факт, что Пифагор признавал
  числа от 1 до 9, все многозначные числа видоизменялись, составляющие их цифры складывались между собой до тех пор,
  пока не получалось однозначное число. Скажем, если вам приснилось, что вы пишете число 223, то искать расшифровку
  этого сна вам нужно в разделе «7»: 2+2+3=7. Та же самая операция проделывается и с другими многозначными числами.
  Учтите это, когда будете толковать свой сон. Кроме того, есть сны, которые могут показаться вам надуманными или
  слишком конкретными, например, бочонок лото с определенным номером или костяшка домино. На самом деле раньше древние
  люди гадали подобным образом, естественно, у них тогда не было ни лото, ни домино, цифры они писали на дощечках или
  камнях и складывали их в мешок. Считалось, что если положить спящему человеку под голову эти гадальные цифры, то во
  сне он увидит одну из них и можно будет предсказать его судьбу. В наше время это гадание тоже успешно применяется,
  попытайтесь сознательно вызвать в своей голове такое нумерологическое видение, и вы будете поражены результатом. И
  конечно, не пропустите мимо сознания следующий немаловажный факт: если во сне вы постоянно видите одно и то же число,
  то скорее всего, оно является на данный момент вашей жизни самым главным для вас, возможно, оно принесет вам удачу,
  если вы сумеете как следует распорядиться этой информацией. Некоторые общие сведения: заниматься во сне сложением
  чисел – хороший знак, он говорит о том, что у вас достаточно сил и внутренней твердости, чтобы справиться со всеми
  жизненными проблемами и неурядицами. Если во сне вы производите вычитание, то это свидетельствует о неразвитости вашей
  личности и неготовности жить своим умом. Умножение – это признак творческой личности, а деление – показатель деловой
  хватки. Все остальное вы найдете в соннике.
</p>
<p>
  Дэвид Лофф считает, что в природе столько же сценариев, сколько самих людей.Содержание сна обусловлено личным опытом
  индивида, и в снах может быть великое множество сюжетов и сценариев. Сонник Лоффа во многом отличается от остальных, у
  него несколько другой смысл. Он считает что закономерности в сюжетах связаны по тематическим группам. Одна группа это
  наше постоянное: семья, рождение, смерть и. т. п., а вторая это духовное содержание личности человека. Сны часто
  оставляют чувство реальности увиденного. Нам могут казаться совсем странными порой сны, и их надо как-то разгадывать.
  Сон по своей сути мозаика, надо правильно расположить кусочки, и появится одно целое. Для решения своих проблем
  воспользуйтесь сонником Дэвида Лоффа.
</p>
<p>
  Евгений Цветков известен всем как астролог, хиромант, хиродиагност, толкователь снов. Он – автор уникального сонника,
  вошедшего в мировую культуру. «Счастливые сны» - так называется сонник, где предлагается не только знакомство с
  древней культурой, но и словарь счастливых снов. Также он является автором книги «Сонник», где учит нас не только
  толкованию снов, но и объясняет, что важно правильно себя вести в событиях сонной грезы, возможно тогда мы научимся
  управлять судьбой.
  Евгений Цветков предлагает нам авторский медитативный пересказ священной тибетской книги – наставления о том, как
  вести себя человеку на пути Отсюда – Туда.
</p>
<p>
  Современный сонник более адаптирован для современного человека. В нем Вы найдете современный взгляд на то, что Вам
  приснилось.
</p>
<br>
<%= image_tag "hasse.jpg", class: "middle" %>
<br><br>
<p>
  Знаменитый медиум, мисс Хассе составила свой сонник на основании многочисленных древних и самых современных
  источников, написанных самыми известными эзотериками, изучавшими особенности и практику предсказаний на основании
  сновидений.
  Сонник мисс Хассе – уникальный сборник толкований снов, ставший результатом многолетнего труда автора.
  Мисс Хассе удалось составить очень подробные толкования снов, которые помогут понять значения того или иного сна,
  также определить степень вероятности осуществления снов, которых мы видим. Используйте сонник Мисс Хассе, но по мнению
  медиума, не всякий сон имеет «вещий» характер. Предсказательная способность сновидения зависит, прежде всего, от
  конкретного числа месяца, в которое приснился сон, и фазы луны.
  Поэтому для начала толкования необходимо найти день в календарном перечне, и рядом с ним указана вероятность
  исполнения сна. После можно приступать к толкованию сна по образам.
</p>
<br>
<%= image_tag "longo.jpg", width: 100, class: "middle" %>
<br><br>
<p>
  Толкование сонника Лонго основано как на эзотерической базе, так и обращается к сфере психологии. Знаменитому провидцу
  удалось совместить парапсихологию и официальную науку, создав уникальную в своем роде систему толкования сновидений.
  Лонго Юрий Андреевич - один из самых известных и популярных фигур среди российских эзотериков конца 20-го века. Он был
  психологом по образованию, Магистром Белой Магии, парапсихологом, предсказателем и народным целителем. Лонго написал
  множество книг по магии, народной медицине, и широко известного сонника.
  «Сонник Юрия Лонго» - это плоды многолетней работы. Этот сонник позволяет разобраться в себе, понять различные
  ситуации. Лонго считал, что сон, это ключ к пониманию грядущих событий и собственного внутреннего мира. Трактовки
  Лонго весьма интересны своей глубиной, могут удивить точностью и подробностью. Толкования по соннику Лонга могут
  помочь вам разобраться в самом себе.</body></html>
</p>