<h2>Введение</h2>

<p>
  В божественную природу сна люди верили всегда. У разных народов мира существуют традиции и поверья, связанные со
  сновидениями. Толкованием снов занимались только избранные люди, которые обучались этому мастерству долгие годы.
  Издавна каждый правитель или государственный деятель, начиная с Древней Греции и заканчивая сегодняшним днем, имел или
  имеет своего собственного оракула, астронома, астролога или мага. Во все времена толкователи снов пользовались
  привилегиями. Каким богам они поклонялись?
</p>

<h2>
  Гипнос – древнегреческий бог сна.
</h2>
<br>
<%= image_tag "hypnos.jpg", class: "middle" %>
<br><br>
Гипноса изображали крылатым юношей с маленькими крылышками на голове, цветком мака и рогом в руках. Древние греки верили, что Гипнос живет на острове Лемнос в пещере, окруженной сонными травами. Из этих растений богиня ночи Никта (мать Гипноса) делала сок для сна. Сам бог летал над миром и усыплял все живое. Перед пещерой на острове Лемнос протекала река Забвения. В этом месте не было слышно ни одного звука, стояла глубокая тишина. В пещере на возвышении, покрытым легчайшим пухом, отдыхал Гипнос. У него была очень ответственная задача: наблюдение и контролирование сна и бодрствования богов, царей и героев. Поэтому он обладал огромным влиянием среди небожителей Олимпа. У Гипноса был брат-близнец, Танатос – бог смерти. Если сны первого брата приносили людям покой и отдых, то сны второго брата отличались жестокостью, беспощадностью и ужасом, вплоть до смерти человека.
<br><br>
<h2>
  Морфей - древнегреческий бог сновидений.
</h2>
<br>
<%= image_tag "morphey.jpg", class: "middle" %>
<br><br>

Древние греки полагали, что Морфей (любимый сын Гипноса) способен навевать только легкие и сладкие сновидения, в которых сам являлся в различных человеческих обликах. Изображали его бородатым старцем в черной одежде с серебряными звездами и крыльями или в виде юноши. В руках Морфей держит кубок, наполненный соком сонного мака, а на голове – корона из этих же цветов. Эмблема бога сна – это двойные ворота в мир снов: ворота из рога служат для выхода правдивых снов, а из слоновой кости – для лживых сновидений. Люди верили, что сон приходит к ним, когда Морфей обнимает их своими крыльями. Так и появилась поговорка: «Попасть в объятия Морфея»

У Гипноса было три известных сына. Фобетор мог перевоплощаться и входить в кошмарные сны людей под видом любого животного или птицы. Фантаза подражал явлениям природы и предметам окружающего мира: воде, камням, деревьям и др. Он входил только в осознанные сны. Самым талантливым сыном Гипноса был Морфей. Он с огромным артистизмом перевоплощался в любое человекоподобное существо. Морфей удивительно точно копировал все: лицо, походку, манеру поведения, одежду, голос. Считается, что в таком облике он часто выходил в мир людей и забавлялся курьезами, совершая поступки от имени других л
<h2>
  Боги сна других народов.
</h2>
У каждого народа были свои боги и богини сна, сновидений и их охранители. Перечислю некоторых, особо почитаемых, чье влияние еще чувствуется до сих пор в культуре той или иной национальности (чаще всего в сказках).

<br><br>
<%= image_tag "svad.jpg", class: "middle" %>
<br><br>
Свапнещвари (Свапнадэви, Нидрадэви) - индийская богиня сновидений.
<br><br>
<%= image_tag "gyuma.jpg", class: "middle" %>
<br><br>
Гьюма Ченмо - тибетская охранительница (дакиня) сновидений.
Салгье Ду Долма или Салчьжэ Дудалма - тибетская охранительница учения сна.
Бута - азербайджанский бог сновидений.

Бэст - ег

Унтамо - финский дух сна, известный из Калевалы. Иногда так называют вкушающего вечный сон Випунена - мудреца, хранителя знаний поколений.
Оле Лукойе - скандинавский бог сновидений.
Спенджагра – Очернённое Пламя мира сновидений. Известен из зурванизма.
Бушъясп – иранский див сна и снобдения.
<br><br>
<%= image_tag "anubis.jpg", class: "middle" %>
<br><br>
Сон - славянский бог сна.
Дрёма - славянская богиня сновидений.
Нитур - управитель снов.
Аламэдас - Тень, повелитель кошмаров.
<br><br>
<%= image_tag "nahag.jpg", class: "middle" %>
<br><br>
На-Хаг, Инхабулос, Нхэц-Нубар – древние боги, насылающие кошмары.
Питао-Шикала – бог сновидений у сапотеков.
<br><br>
<%= image_tag "bes.jpg", class: "middle" %>
<br><br>
Бог Бэс и богиня Бэст – египетские охранители сна людей.


<h2>
  Заключение.
</h2>
Чтобы расшифровать послание через сон, надо учитывать много факторов. Это и его профессия, характер, отношения с окружающими и многое другое. Поэтому каждый человек, интересующийся своими снами, старается иметь личного толкователя снов. Очень часто при объяснении сновидения приходится изучать и астрологию. Толкование сновидений - действительно, настоящая наука. Еще в древности существовала особая дельфийская каста жрецов. Они занимались расшифровкой посланий бога Морфея через сны. Предания всех народов мира говорят о том, что преклоняясь перед божествами сновидений, можно обеспечить защиту себя и своего жилища от различных бед и несчастий, болезней и колдовства. Поэтому ритуалы соблюдались очень строго и под особым контролем посвященных.

Приятных всем объятий бога сна!