<h1>Listing words</h1>
<%= will_paginate %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Miller</th>
    <th>Vanga</th>
  </tr>
  </thead>

  <tbody>
  <% @words.each do |word| %>
      <tr>
        <td><%= word.name %></td>
        <td><%= word.millera %></td>
        <td><%= word.vangi %></td>
        <td><%= link_to 'Show', word %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate %>

<br>


