<h1>Сонник </h1>
<%= will_paginate %>

<table>
  <thead>
  <tr>
    <th>Слово</th>
    <th>Миллер</th>
    <th>Ванга</th>
    <th>Фрейд</th>
  </tr>
  </thead>

  <tbody>
  <% @words.each do |word| %>
      <tr>
        <td>><%= link_to word.name, word %></td>
        <!--<td><%= word.millera %></td>-->
        <!--<td><%= word.vangi %></td>-->
        <!--<td><%= word.freyda %></td>-->
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate %>

<%= link_to 'Home', root_path %>

<br>


