<h1><%= @word.name %></h1>

<%= display_header("Сонник Миллера", @word.millera) %>
<%= display_header("Сонник Ванги", @word.vangi) %>
<%= display_header("Сонник Фрейда", @word.freyda) %>
<%= display_header("Сонник Нострадамуса", @word.nost) %>
<%= display_header("Сонник Лоффа", @word.loffa) %>
<%= display_header("Сонник Цветкова", @word.tsvetkova) %>
<%= display_header("Сонник Хассе", @word.hasse) %>
<%= display_header("Эзотерический сонник", @word.ezoteric) %>
<%= display_header("Сонник Менегетти", @word.menegetti) %>
<%= display_header("Сонник Лонго", @word.longo) %>
<%= display_header("Английский сонник", @word.angl) %>
<%= display_header("Французский сонник", @word.franz) %>
<%= display_header("Ассирийский сонник", @word.assiriysky) %>
<%= display_header("Современный сонник", @word.sovr) %>


<% if @comments.count > 0 %>
    <h3>Комментариев (<%= @comments.count %>)</h3>
    <ol class="comments">
      <%= render @comments %>
    </ol>
<% end
   @comment = @word.comments.build %>

<section>
  <%= render 'shared/comment_form' if current_user %>
</section>


<%= link_to 'Главная', root_path %>

