<h1><%= @word.name %></h1>

<p><%= @word.millera %></p>
<p><%= @word.vangi %></p>
<p><%= @word.freyda %></p>
<p><%= @word.nost %></p>
<p><%= @word.loffa %></p>
<p><%= @word.tsvetkova %></p>
<p><%= @word.hasse %></p>
<p><%= @word.ezoteric %></p>
<p><%= @word.menegetti %></p>
<p><%= @word.longo %></p>
<p><%= @word.angl %></p>
<p><%= @word.franz %></p>
<p><%= @word.assiriysky %></p>
<p><%= @word.sovr %></p>


<%= link_to 'Главная', root_path %>

