<h1><%= @word.name %></h1>

<%= display_header("Сонник Миллера", "millera") %>
<%= display_header("Сонник Ванги", "vangi") %>
<%= display_header("Сонник Фрейда", "freyda") %>
<%= display_header("Сонник Нострадамуса", "nost") %>
<%= display_header("Сонник Лоффа", "loffa") %>
<%= display_header("Сонник Цветкова", "tsvetkova") %>
<%= display_header("Сонник Хассе", "hasse") %>
<%= display_header("Эзотерический сонник", "ezoteric") %>
<%= display_header("Сонник Менегетти", "menegetti") %>
<%= display_header("Сонник Лонго", "longo") %>
<%= display_header("Английский сонник", "angl") %>
<%= display_header("Французский сонник", "franz") %>
<%= display_header("Ассирийский сонник", "assiriysky") %>
<%= display_header("Современный сонник", "sovr") %>


<% if @comments.count > 0 %>
    <h3>Комментариев (<%= @comments.count %>)</h3>
    <table>
      <%= render @comments %>
    </table>
<% end

   @comment = @word.comments.build %>

<section>
  <%= render 'shared/comment_form' if current_user %>
</section>

<br>
<%= link_to 'Главная', root_path %>
<br>

