<!DOCTYPE html>
<html>
<head>
  <title>Sonara <%= current_user.name if current_user %></title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Cuprum">
  <%= stylesheet_link_tag "mobile" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
  <meta name="MobileOptimized" content="320"/>
  <meta name="HandheldFriendly" content="true"/>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to image_tag("topsmall.jpg", style: "width:100%;"), root_path %>
<br>

<%= yield %>

<br>
<% if current_user %>
    <img src="<%= current_user.image %>" height="42" width="42">
    &nbsp&nbsp Вход выполнен <%= current_user.name %> &nbsp&nbsp
    <%= link_to "Выйти", signout_path, id: "sign_out" %>
<% else %>
    Войдите, чтобы хранить историю снов и делиться комментариями<br>
    <%= link_to image_tag("signin.png", width: 150), "/auth/google_oauth2", id: "sign_in" %>
    <br>
    <%= link_to image_tag("vkontakte.png", width: 150), "/auth/vkontakte", id: "sign_in" %>
    <br>
    <%= link_to image_tag("facebook.png", width: 150), "/auth/facebook", id: "sign_in" %>

<% end %>
<% if !android_device? %>
    <div>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- my2 -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:320px;height:100px"
           data-ad-client="ca-pub-1351673544337847"
           data-ad-slot="3301281933"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
<% end %>
<div>
  <%= link_to "О нас", home_about_path %>
  <br>
  <%= link_to "Боги сна", home_gods_path %>
  <br>
  <%= link_to "Авторы сонников", home_authors_path %>
  <br>
  <%= link_to "Форум", "http://extender.tk", target: "_blank" unless android_device? %>
</div>

<%= link_to "Полная версия", mobile: 0 unless android_device? %>
<br>
<%= image_tag("footsmall.jpg", style: "width:100%;") %>
</body>
</html>
