<!DOCTYPE html>
<html>
<head>
  <title>Сонара <%= current_user.name if current_user %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Сонник. Интерактивный толкователь снов. Толкования снов и сновидений, разгаданные самыми авторитетными предсказателями. Лучший сонник в рунете">
  <meta name="keywords" content="сонник, толкование снов, соник, сновидения, сонник толкование, вещие сны, вещий сон, сновидение, толкователь снов, толкование снов, значение сна, мистика, приснилось, предсказание, sonnik, гороскоп, астрология, индивидуальный гороскоп, гороскоп совместимости">
</head>
<body>

<%= link_to image_tag("topbar.jpg"), root_path %>

<aside class="span7">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>
  <br><br>
  <% if current_user %>
      <img src="<%= current_user.image %>" height="42" width="42">
      &nbsp&nbsp Вход выполнен <%= current_user.name %> &nbsp&nbsp
      <%= link_to "Выйти", signout_path, id: "sign_out" %>
  <% else %>
      Войдите, чтобы хранить историю снов и делиться комментариями <br>
      <%= link_to image_tag("signin.png", width: 150), "/auth/google_oauth2", id: "sign_in" %>
      <%= link_to image_tag("facebook.png", width: 150), "/auth/facebook", id: "sign_in" %>
      <%= link_to image_tag("vkontakte.png", width: 150), "/auth/vkontakte", id: "sign_in" %>
  <% end %>
</aside>
<div class="span3">
  <%= link_to "О нас", home_about_path %>
  <br>
  <%= link_to "Боги сна", home_gods_path %>
  <br>
  <%= link_to "Авторы сонников", home_authors_path %>
  <br>
  <%= link_to "Форум", "http://extender.tk", target: "_blank" %>
  <br>
  <%= link_to "Мобильная версия", mobile: 1 %>
  <br><br>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- my -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:600px"
       data-ad-client="ca-pub-1351673544337847"
       data-ad-slot="2591225138"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

<%= image_tag("footer.jpg") %>

</body>
</html>
